##ERROR PAGES##
ErrorDocument 404	/pages/error_pages/404.html

## CACHING ##
# Image files
<filesMatch "\.(jpg|jpeg|png|gif|ico)$">
Header set Cache-Control "max-age=86400, public"
</filesMatch>

# CSS and JS files
<filesMatch "\.(css|js)$">
Header set Cache-Control "max-age=900, public"
</filesMatch>