/*===================================
  General Syling
  ===================================*/
body {margin: 0; padding: 0;}

/*===================================
  Banner
  ===================================*/
.banner {}
